<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".CodeAndWordsApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeAndWords"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.dashboard.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.game.GameSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.game.MatchingGameActivity"
            android:exported="false" />

        <activity
            android:name=".ui.game.SprintGameActivity"
            android:exported="false" />

        <activity
            android:name=".ui.game.WriteWordGameActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.game.DictionaryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.game.TheoryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.game.GameResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PersonalDictionaryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.AchievementUnlockedActivity"
            android:exported="false"
            android:theme="@style/Theme.CodeAndWords.AchievementPopup" />

        <activity
            android:name=".ui.profile.AchievementDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.AchievementDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.AvatarEditorActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.StudyScheduleActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.TeamActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.FriendProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.TeamDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.AdminPanelActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.AdminTheoryEditorActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.AdminBulkWordsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.AdminThemesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.AdminWordsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.AchievementsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.UserStatisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.game.ListeningGameActivity"
            android:exported="false" />

        <activity
            android:name=".ui.game.MistakesTrainingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.game.LearnedWordsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.UserSearchActivity"
            android:exported="false" />

    </application>

</manifest>